.AllProduct{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.AllProduct-ProductList{
    width: 80%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}